{
    "ignore": ["node_modules/**/*"],
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "targets": {
                    "ie": "11"
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties", "babel-plugin-add-module-exports", "@babel/plugin-transform-classes"]
}
